body {
    background:#333;
    font-family: monospace;
}

h1,li,ul,a {
    color: white
}


.secondary {
    color: black;
}

nav ul li {
    padding: 5px 10px;
    background: #000;
     display: inline-block;
     list-style-type: none;
     border-radius: 5px;
     width: 5%;
     
}

